.headers {
    background-color: #3C0D1D;
    height: 150px;

    .title {
        color: white;
        font-weight: bold;
        font-size: 32px;
        text-align: center;
        padding-top: 40px;
    }
}

$breakpoint-ipad: 820px;
@media (min-width: $breakpoint-ipad){
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet){
}