.home {
    display: flex;
    justify-self: center;
    margin: 70px 0;
    flex-direction: column;
    color: white;
    row-gap: 10px;
    align-items: center;
}

    .authorize {
        background-color: #3C0D1D;
        width: 300px;
        height: 290px;
        border-radius: 20px;

        .form {
            margin: 20px 10px;
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            border-radius: 10px;
            height: 190px;

            .password, .username {
                .title {
                    color: white;
                    margin-bottom: 10px;
                }
                .inputpass, .inputusername {
                    background-color: #262626;
                    color: white;
                    font-size: 12px;
                    height: 43px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100%;
                    
                }
            }
        }

        .submit {
            background-color: #0C6198;
            color: white;
            font-size: 12px;
            font-weight: normal;
            border-radius: 8px;
            height: 40px;
            width: fit-content;
            padding: 0 20px;
            align-items: center;
            text-align: center;
            display: flex;
            justify-self:center;
        }

        .submit:hover {
            background-color: #4BA0D8;
        }

        
    
    }

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
}
